In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df=pd.read_csv('merged.csv')

In [11]:
df.shape

(209138, 30)

In [12]:
df=df[df['DEP_DELAY'].notna()]
df=df[df['DEP_DELAY']>=-20]

In [13]:
np.sort(df['DEP_DELAY'])

array([ -20.,  -20.,  -20., ..., 1301., 1348., 1700.])

In [14]:
a=[1,2,3,4,6,8,9]
for i in a:
    s='WT'+str(0)+str(i)
    a=np.where(df[s].isna(),0,1)
    df[s]=a

In [15]:
df=df.drop('PGTM',axis=1)

In [16]:
df.head()

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,OP_UNIQUE_CARRIER,TAIL_NUM,DEP_TIME,DEP_DELAY,DATE,STATION,...,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT04,WT06,WT08,WT09
0,0,2016,8,3,DL,N376DA,811.0,-4.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
1,1,2016,8,3,DL,N3765,802.0,-3.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
2,2,2016,8,3,DL,N803DN,658.0,-2.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
3,3,2016,8,3,DL,N354NW,1814.0,30.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
4,4,2016,8,3,DL,N713TW,803.0,-2.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0

In [17]:
df=df.drop(['WDF2','WDF5',"WSF5"],axis=1)

In [18]:
df.columns

Index([u'Unnamed: 0', u'YEAR', u'MONTH', u'DAY_OF_MONTH', u'OP_UNIQUE_CARRIER',
       u'TAIL_NUM', u'DEP_TIME', u'DEP_DELAY', u'DATE', u'STATION', u'NAME',
       u'AWND', u'PRCP', u'SNOW', u'SNWD', u'TAVG', u'TMAX', u'TMIN', u'WSF2',
       u'WT01', u'WT02', u'WT03', u'WT04', u'WT06', u'WT08', u'WT09'],
      dtype='object')

In [19]:
df=df.drop(['STATION','NAME'],axis=1)

In [20]:
df.head()

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,OP_UNIQUE_CARRIER,TAIL_NUM,DEP_TIME,DEP_DELAY,DATE,AWND,...,TMAX,TMIN,WSF2,WT01,WT02,WT03,WT04,WT06,WT08,WT09
0,0,2016,8,3,DL,N376DA,811.0,-4.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
1,1,2016,8,3,DL,N3765,802.0,-3.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
2,2,2016,8,3,DL,N803DN,658.0,-2.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
3,3,2016,8,3,DL,N354NW,1814.0,30.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
4,4,2016,8,3,DL,N713TW,803.0,-2.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0

In [21]:
df.isna().sum()

Unnamed: 0           0
YEAR                 0
MONTH                0
DAY_OF_MONTH         0
OP_UNIQUE_CARRIER    0
TAIL_NUM             0
DEP_TIME             0
DEP_DELAY            0
DATE                 0
AWND                 0
PRCP                 0
SNOW                 0
SNWD                 0
TAVG                 0
TMAX                 0
TMIN                 0
WSF2                 0
WT01                 0
WT02                 0
WT03                 0
WT04                 0
WT06                 0
WT08                 0
WT09                 0
dtype: int64

In [22]:
df=df[df["DEP_DELAY"]<=200]

In [23]:
delay=[]
for i,j in df['DEP_DELAY'].iteritems():
    if(j>0 and j<=10):
        delay.append(1)
    elif (j>10 and j<=30):
        delay.append(2)
    elif (j>30):
        delay.append(3)
    else:
        delay.append(0)

In [24]:
df['DELAY']=delay

In [25]:
df.shape

(201347, 25)

In [28]:
holidays = pd.read_csv("US Bank holidays.csv",header=None)

In [29]:
holidays.head()

   0           1                                      2
0  1  2012-01-02                           New Year Day
1  2  2012-01-16             Martin Luther King Jr. Day
2  3  2012-02-20  Presidents Day (Washingtons Birthday)
3  4  2012-05-28                           Memorial Day
4  5  2012-07-04                       Independence Day

In [31]:
holidays =

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,OP_UNIQUE_CARRIER,TAIL_NUM,DEP_TIME,DEP_DELAY,DATE,AWND,...,TMIN,WSF2,WT01,WT02,WT03,WT04,WT06,WT08,WT09,DELAY
209133,209133,2018,1,31,DL,N341NB,810.0,-10.0,2018-01-31,13.87,...,18,23.9,0,0,0,0,0,0,0,0
209134,209134,2018,1,31,DL,N959AT,1517.0,-4.0,2018-01-31,13.87,...,18,23.9,0,0,0,0,0,0,0,0
209135,209135,2018,1,31,DL,N322US,803.0,-2.0,2018-01-31,13.87,...,18,23.9,0,0,0,0,0,0,0,0
209136,209136,2018,1,31,DL,N3744F,826.0,-4.0,2018-01-31,13.87,...,18,23.9,0,0,0,0,0,0,0,0
209137,209137,2018,1,31,DL,N319NB,1926.0,-3.0,2018-01-31,13.87,...,18,23.9,0,0,0,0,0,0,0,0